{% extends "lab_4/layout/base.html" %}

{% block content %}
<img class="img-circle" src="https://pbs.twimg.com/profile_images/590786632527310848/s2Vhf0Mu.png"
 alt = "Profile Image" height = "150" width="150" align="right">
<hr/>
<style> 
@font-face {
    font-family: myFirstFont;
    src: url("static/fonts/TallAndSkinny.ttf");
}

h1 {
    font-family: myFirstFont;
}
</style>
<h1>Portofolio</h1>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
	<h2>Send Message</h2>
	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>

{% endblock %}
