<!-- templates/lab_9/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
<div class="panel-footer footer">
	<p id='footer' style="color: black">©  PPW Lab-9 by {{author}}</p>
</div>