{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
	<h1 style="text-align: center;"> {{ movie.title }} ({{ movie.year }}) </h1>
	<br>
	<p style="text-align: center; font-size: 15px; font-weight: bold;"> {{ movie.rated }} </p>
	<br>
	<img style="display: block; margin: 0 auto;" src="{{ movie.poster }}"/>
    <br>
	<br>
	<p style="font-size: 22px;"> {{ movie.plot }} </p>
	<hr>
	<p style="font-size: 18px;"> <b>Directors:</b> {{ movie.director }} </p>
	<p style="font-size: 18px;"> <b>Writers:</b> {{ movie.writer }} </p>
	<p style="font-size: 18px;"> <b>Stars:</b> {{ movie.actors }} </p>
	<p style="font-size: 18px;"> <b>Genre:</b> {{ movie.genre }} </p>
	<p style="font-size: 18px; text-align: center;"><a href="{{ movie.website }}"> <b> Visit Website </b></a></p>
    <hr>
	<table class="review-bar" align="center">
		<tr>
			<td align="center" style="border: 1px solid #dddddd; padding: 10px;">
				<h3> Metascore <h3>
				<div class="metascore" style="position: center; padding: 15px 0; text-align: center; width: 60px; height: 60px; color: #fff; background-color: #48f442;">
				{{ movie.metascore }}
				</div>
			</td>
			<td align="center" style="border: 1px solid #dddddd; padding: 10px;">
				<h3> IMDB Ratings <h3>
				<div class="imdbratings" style="position: center; padding: 15px 0; text-align: center; width: 60px; height: 60px; color: #fff; background-color: #42c5f4;">
				{{ movie.imdbrating }}
				</div>
			</td>
		</tr>
	</table>
    <br>
    <div class="box" align="center">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>
</div>
{% endblock %}
