{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="rows">
	<h1 style="text-align: center;"> List Movie to Watch Later </h1>
	<table align="center">
		<thead>
		<tr>
			<th style="border: 1px solid #dddddd; text-align: center; padding: 20px;"> Judul </th>
			<th style="border: 1px solid #dddddd; text-align: center; padding: 20px;"> Poster </th>
			<th style="border: 1px solid #dddddd; text-align: center; padding: 20px;"> Detail </th>
		</tr>
		</thead>
		<tbody>
			{% for movie in watch_later_movies %}
			<tr>
				<td style="border: 1px solid #dddddd; padding: 20px;"> {{ movie.title }} ({{ movie.year }}) </td>
				<td style="border: 1px solid #dddddd; padding: 20px;"> <img style="display: block; margin: 0 auto;" src="{{ movie.poster }}"/> </td>
				<td style="border: 1px solid #dddddd; text-align: center; padding: 20px;"><a href='/lab-10/movie/detail/{{movie.imdbid}}' class='btn btn-primary'> Detail </a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
