body{
   background-color: #aad2ff;
   /* margin-top: 70px; */
}
/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}


.data {
   background: #fff;
   position: absolute;
   top: 55%;
   text-align: 10px 10px;
   width: 28%;
}

.cover {
   width: 100%;
   height: 100%;

}

.crop-cover {
   max-height: 300px;
   overflow: hidden;
   width: 99.4vw;
   margin-left: calc(-50vw + 50%);
}

.profpic-container {
	border-radius:100%;
    position:relative;
    width: 150px;
    height: 150px;
    top: -70px;
    background-color: #fff;
    margin: left;
    text-align:center;
    margin-bottom:-80px;
}

.profile .picture {
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   border-radius:100%;
   width:95%;
   margin:auto;
}

.post {
	vertical-align: text-top;
	width: 40%;
	margin: 3px 30% 3px 30%;
}

.postStatus {
	color: #fff;
	background-color: #377d8e;
	border: 0px;
	width: 10%;
	height: 50px;
	margin: 3px 45% 3px 45%;
}

.postStatus:hover {
	background: #37658e;
}

.logout {
	color: #fff;
	position: absolute;
	right: 200px;
	background-color: #377d8e;
    border: 0px;
    outline-width: 3px;
    padding: 4px 9px;
	height: 40px;
}

.logout:hover {
	background: #a05d5d;
	border-radius: 9px;
}

.feed {
	margin: 3px 30% 3px 30%;
    width: 40%;
	background-color: white;
    /* border: 3px solid blue; */
    padding: 10px;
}

.feed:hover {
	background: #e5e5e5;
}

.login {
	color: #fff;
	background-color: #377d8e;
	border: 0px;
	position: absolute;
	top: 30%;
	width: 10%;
	height: 5%;
	left: 45%;
	right: 45%;
}

.login:hover{
	background-color: #37658e;
}